/*---------- Basic ----------*/
body{
    background-color: black;
    overflow: hidden;
    color: white;
}

*{
    user-select: none;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
h3{
    font-size: 1.5rem;
}
.fa-rotate{
    position: absolute;
    left: 71%;
    top: 48.5%;
    font-size: 2rem;
}
.fa-rotate:hover{
    cursor: pointer;
}

/*---------- Chessboard ----------*/
#chessboard {
    margin-inline: 30vw;
    width: 40vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border-radius: 1rem;
}
.rows1 {
    align-self: start;
}
.rows8 {
    align-self: end;
}
.box {
    border: 1px solid black;
    color: black;
    height: 10vh;
    background-color: rgb(255, 252, 247);

    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    
    cursor: pointer;

    display: flex;
}
.box a{
    position: absolute;
    color: black;
}
.box img{
    width: 100%;
}
.active{
    border: orange 1px solid;
}


/*---------- Pawn Field ----------*/
#pawnField{
    position: absolute;
    left: 30.4vw;
    top: 45vh;
    background: red;
    width: 40vw;
    height: 15vh;
    display: none;
}
#figures{
    display: flex;
    justify-content: center;
    width: 100%;
}
#figures img{
    width: 10%;
}
#figures img:hover{
    cursor: pointer;
}



#devField{
    border: 1px solid white;
    border-radius: 1rem;
    position: absolute;
    top: 12%;
    left: 5%;
    width: 20vw;
    height: 82vh;
    overflow: auto;
}